{{~setVar "voInstanceName" (concat classNameFirstCharLower "VO")~}}
{{~setVar "listPath" (concat "/" classNameFirstCharLower "/" classNameFirstCharLower "List.do")~}}
{{~setVar "addPath" (concat "/" classNameFirstCharLower "/add" className ".do")~}}
{{~setVar "updatePath" (concat "/" classNameFirstCharLower "/update" className ".do")~}}
{{~setVar "deletePath" (concat "/" classNameFirstCharLower "/delete" className ".do")~}}
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:with="registerFlag=${#strings.isEmpty({{voInstanceName}}.{{#if pkAttributes.length}}{{pkAttributes.[0].ccName}}{{else}}{{attributes.[0].ccName}}{{/if}})} ? 'create' : 'modify'">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:if="registerFlag == 'modify'">{{className}} Update</title>
    <title th:if="registerFlag == 'create'">{{className}} Regist</title>

    <!-- KRDS CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/component/output.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/egovframe.css}">
	<script th:inline="javascript" th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript" th:src="@{/js/component/ui-script.js}" defer></script>
	<script th:inline="javascript" th:src="@{/js/egovframework/common.js}" defer></script>

	<!--For Custom Validation-->
	<!-- egovframe-Todo: Validator 적용시 아래 주석 코드 참고 -->
    <!-- <script th:inline="javascript" th:src="@{/js/egovframework/EgovValidation.js}" defer></script> -->

    <script th:inline="javascript" defer>
	    function fn_egov_list() {
            $(location).attr('href', contextPath + '{{listPath}}');
        }

        function fn_egov_add() {
            if (confirm('Are you sure you want to register?')) {
                let frm = document.detailForm;
                // egovframe-Todo: Validator 적용시 아래 주석 코드 참고
                // EgovValidation.js 파일에 validate{{className}}VO 함수 추가 필요
                // if (!validate{{className}}VO(frm)) {
				//	  return;
				// }
				$('#detailForm').attr('method', 'post').attr('action', contextPath + '{{addPath}}').submit();
            }
        }

        function fn_egov_update() {
            if (confirm('Are you sure you want to modify?')) {
            	let frm = document.detailForm;
                // egovframe-Todo: Validator 적용시 아래 주석 코드 참고
                // EgovValidation.js 파일에 validate{{className}}VO 함수 추가 필요
                // if (!validate{{className}}VO(frm)) {
				//	  return;
				// }
            	$('#detailForm').attr('method', 'post').attr('action', contextPath + '{{updatePath}}').submit();
			}
        }

        function fn_egov_delete() {
            if (confirm('Are you sure you want to delete?')) {
                $('#detailForm').attr('method', 'post').attr('action', contextPath + '{{deletePath}}').submit();
            }
        }

        function fn_egov_reset() {
            $('form').each(function() {
                this.reset();
            });
        }
    </script>
</head>

<body>
<div id="container" class="inner">

	<!-- Page Title -->
	<h2 class="heading-large">
	    <span th:if="${registerFlag == 'modify'}">Update</span>
	    <span th:if="${registerFlag == 'create'}">Regist</span>
	</h2>

	<form id="detailForm" name="detailForm" th:object="{{concat "${" voInstanceName "}"}}"

		<div class="conts-wrap">
	        <div class="fieldset input-form">
				{{#each attributes}}
				  {{#if isPrimaryKey}}
                <div class="form-group" th:if="{{concat "${" @root.voInstanceName "." ccName " != null}"}}">
                    <div class="form-tit">
                        <label for="{{ccName}}">{{pcName}}</label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="{{ccName}}" name="{{ccName}}" class="krds-input" th:value="{{concat "${" @root.voInstanceName "." ccName "}"}}" th:readonly="readonly">
                    </div>
                </div>
				  {{else}}

                <div class="form-group">
                    <div class="form-tit">
                        <label for="{{ccName}}">{{pcName}}</label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="{{ccName}}" name="{{ccName}}" class="krds-input" th:value="{{concat "${" @root.voInstanceName "." ccName "}"}}">
                        <span class="error-message" th:if="${#fields.hasErrors('{{ccName}}')}" th:errors="*{{{ccName}}}"></span>
                    </div>
                </div>
				  {{/if}}
				{{/each}}

            </div>

	        <!-- Action Buttons -->
	        <div class="page-btn-wrap">
                <div class="btn-wrap">
	                <button type="button" class="krds-btn medium secondary" th:onclick="fn_egov_list()">List</button>
	                <button type="button" class="krds-btn medium tertiary" th:onclick="fn_egov_reset()">Reset</button>
                </div>
	            <div class="btn-wrap">
					<button type="button"
	                        class="krds-btn medium"
	                        th:onclick="fn_egov_update()"
	                        th:if="${registerFlag == 'modify'}">Update</button>
	                <button type="button"
	                        class="krds-btn medium danger"
	                        th:onclick="fn_egov_delete()"
	                        th:if="${registerFlag == 'modify'}">Delete</button>
	                <button type="button"
	                        class="krds-btn medium"
	                        th:onclick="fn_egov_add()"
	                        th:if="${registerFlag == 'create'}">Regist</button>
	            </div>
	        </div>
		</div>

	</form>

</div>

</body>
</html>
